{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getActive ?: theme_config.default_lang }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://assets/css/main.css') %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
            {% do assets.addJs('theme://assets/js/skel.min.js') %}
            {% do assets.addJs('theme://assets/js/util.js') %}
            {% do assets.addJs('theme://assets/js/main.js') %}
        {% endblock %}
        {{ assets.js() }}

        <!--[if lte IE 8]><script src="{{ url('theme://assets/js/ie/html5shiv.js') }}"></script><![endif]-->

        {% if site.calendar %}
           <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       {% endif %}

       <!--[if lte IE 8]><script src="{{ url('theme://assets/js/ie/respond.min.js') }}"></script><![endif]-->
       <!--[if lte IE 8]><script src="{{ url('theme://assets/css/ie8.css') }}"></script><![endif]-->

       {% if site.calendar %}
        <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                hideIfNoPrevNext: true
            });
        });
        </script>
    {% endif %}

    {% endblock head%}
</head>

<body>
    <div id="wrapper">
			{% block header %}
            <header id="header" role="banner">
              <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
                  {% include 'partials/navigation.html.twig' %}
                  <nav class="main">
                            <ul>
                                {% block header_extra %}{% endblock %}
                                {% if config.plugins.langswitcher.enabled %}
                                {% include 'partials/langswitcher.html.twig' %}
                                {% endif %}
                                {% if config.plugins.simplesearch.enabled %}
                                {% include 'partials/simplesearch_searchbox.html.twig' %}
                                {% endif %}
                                <li class="menu">
                                    <a class="fa-bars" href="#menu">Menu</a>
                                </li>
                            </ul>
                        </nav>
            </header>
        {% endblock %}
        {% block body %}

            <div id="content">
                <div class="inner" role="main">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}

    </div>

{% if config.plugins.simplesearch.enabled %}
<script type="text/javascript">
$(document).ready(function($){
    var input = $('[data-search-input]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length > 3) {
            event.preventDefault();
            window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
        }
    });
});
</script>
{% endif %}

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
</body>
</html>
